<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="sidePaneOrigin" [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayHasBackdrop]="true" (backdropClick)="onClose()">

    <div class="side-pane">
        <div class="d-flex justify-content-end">
            <button mat-button (click)="onClose()">
                <mat-icon style="color: #90CAF9;">close</mat-icon>
                <span style="color: #90CAF9;">CLOSE</span>
            </button>
        </div>
        <div *ngIf="mode==='view'" class="m-0 p-0">
            <ng-container *ngIf="selectedArticle">
                <div class="viewHeadline ">
                    <span>{{selectedArticle.headline}}</span>
                </div>
                <div class="data-container mt-4">
                    <span class="label">Author</span>
                    <span class="view-text py-2">{{selectedArticle.author}}</span>
                </div>
                <div class="data-container">
                    <span class="label">Body</span>
                    <p class="view-text py-2">{{selectedArticle.body}}</p>
                </div>
                <div>
                    <div *ngIf="selectedArticle.images.length > 0">
                        <h4>Selected Files:</h4>
                        <!-- <ul>
                            <li *ngFor="let img of selectedArticle.images; let i = index">
                                <img src="img.src" alt="">
                                <span> {{img.name}}</span>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="data-container" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                    <span class="label">Publish Date</span>
                    <span class="view-text py-2">{{selectedArticle.publication_date}}</span>
                </div>
                <div class="pt-5 pb-4">
                    <span class="label">Publish</span>
                    <mat-slide-toggle [(ngModel)]="selectedArticle.published"
                        class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </ng-container>
        </div>
        <div *ngIf="mode==='edit' || mode==='add'" class="m-0 p-0">
            <div class="article-action mb-3" *ngIf="mode==='edit'">
                <span>Edit Article</span>
            </div>
            <div class="article-action mb-3" *ngIf="mode==='add'">
                <span>New Article</span>
            </div>
            <form [formGroup]="articleForm" *ngIf="articleForm">
                <div class="d-flex flex-column mb-3">
                    <span class="form-label">Headline*</span>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="headline">
                    </mat-form-field>
                </div>
                <div class="d-flex flex-column mb-3">
                    <span class="form-label">Author*</span>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="author">
                    </mat-form-field>
                </div>
                <div class="d-flex flex-column mb-3">
                    <span class="form-label">Body*</span>
                    <mat-form-field appearance="outline" class="w-100">
                        <textarea matInput formControlName="body" style="height: 50px;"></textarea>
                    </mat-form-field>
                </div>
                <div class="d-flex flex-column mb-3">
                    <span class="form-label">Upload Images</span>
                    <div class="d-flex flex-box m-0 p-0">
                        <input formControlName="images" #fileInput type="file" multiple class="file-upload"
                            (change)="uploadImage($event)">
                        <span> Drop files here to upload </span>
                    </div>
                    <div>
                        <div *ngIf="selectedFiles.length > 0">
                            <h4>Selected Files:</h4>
                            <ul>
                                <li *ngFor="let file of selectedFiles; let i = index">
                                    {{ file.name }}
                                    <button (click)="removeFile(i)">Remove</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column mb-3">
                    <span class="form-label">Publish Date*</span>
                    <mat-form-field appearance="outline" class="w-100">
                        <input type="date" matInput formControlName="publication_date">
                    </mat-form-field>
                </div>
                <div class="mb-5">
                    <span class="form-label">Publish*</span>
                    <mat-slide-toggle formControlName="published" class="custom-slide-toggle"></mat-slide-toggle>
                </div>
            </form>
        </div>
        <div *ngIf="mode==='add'" class="d-flex justify-content-end">
            <button mat-button (click)="onSave()" class="save-button" [disabled]="!articleForm || articleForm.invalid">
                <span>SAVE</span>
            </button>
        </div>
        <div *ngIf="mode==='edit'" class="d-flex justify-content-end mt-5">
            <button mat-button (click)="onSave()" class="save-button" [disabled]="!articleForm || articleForm.invalid">
                <span>UPDATE</span>
            </button>
        </div>
        <div *ngIf="mode==='view'" class="d-flex justify-content-end mt-5">
            <button mat-button (click)="onPublish()" class="save-button">
                <span>UPDATE</span>
            </button>
        </div>
    </div>
</ng-template>