.custom-slide-toggle {
    --mdc-switch-selected-track-color: #98facf;
    --mdc-switch-selected-hover-track-color: #98facf;
    --mdc-switch-selected-focus-track-color: #98facf;
    --mdc-switch-selected-pressed-track-color: #98facf;

    --mdc-switch-selected-handle-color: #00d1a1;
    --mdc-switch-selected-hover-handle-color: #00d1a1;
    --mdc-switch-selected-focus-handle-color: #00d1a1;
    --mdc-switch-selected-pressed-handle-color: #00d1a1;
}

.side-pane {
    position: fixed;
    right: 0;
    top: 0;
    width: 600px;
    height: 100vh;
    background: white;
    box-shadow: -8px 0 24px rgba(0, 0, 0, 0.2);
    padding: 24px;
}

.viewHeadline {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    color: #000000DE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E5E5E5;
}

.article-action {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000DE;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E5E5E5;
}

.save-button {
    background-color: #98B6FA;
    color: #ffffff;
    width: 150px;
}

.save-button:disabled {
    background-color: #C9C9C9;
    width: 150px;
    opacity: 0.5;
}

.save-button span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.save-button:disabled span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #070008;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0.5rem;
    padding-right: 2rem;
}

.data-container {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.view-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.file-upload {
    margin-bottom: 1.5rem;
}