<div class="container-fluid p-0">
    <div class="header">
    </div>
    <div class="body">
        <span class="subtitle mb-4">Articles</span>
        <div class="d-flex justify-content-between">
            <mat-form-field class="white-bg-form-field" appearance="outline">
                <mat-label class="custom-text">All</mat-label>
                <mat-select>
                    <mat-option value="1" class="custom-text">Option 1</mat-option>
                    <mat-option value="2" class="custom-text">Option 2</mat-option>
                    <mat-option value="3" class="custom-text">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button class="custom-button">
                <mat-icon>add</mat-icon>
                <span class="custom-text">ADD ARTICLE</span>
            </button>
        </div>

    </div>
</div>