<div class="container-fluid p-0">
    <div class="header">
    </div>
    <div class="body">
        <span class="subtitle mb-4">Articles</span>
        <div class="d-flex justify-content-between">
            <mat-form-field class="white-bg-form-field" appearance="outline">
                <mat-select [(value)]="articlesCategories.all">
                    <mat-option value="published" class="custom-text">Published</mat-option>
                    <mat-option value="unpublished" class="custom-text">Unpublished</mat-option>
                    <mat-option value="all" class="custom-text">All</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button class="custom-button" (click)="openSidePaneAdd()">
                <mat-icon>add</mat-icon>
                <span class="custom-text">ADD ARTICLE</span>
            </button>
        </div>
        <div class="articles-container">
            <table mat-table [dataSource]="articles">
                <ng-container matColumnDef="headline">
                    <th mat-header-cell *matHeaderCellDef> Article Headline </th>
                    <td mat-cell *matCellDef="let article"> {{article.headline}} </td>
                </ng-container>
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef> Author </th>
                    <td mat-cell *matCellDef="let article"> {{article.author}} </td>
                </ng-container>
                <ng-container matColumnDef="publication_date">
                    <th mat-header-cell *matHeaderCellDef> Publish Date </th>
                    <td mat-cell *matCellDef="let article"> {{article.publication_date}} </td>
                </ng-container>
                <ng-container matColumnDef="published">
                    <th mat-header-cell *matHeaderCellDef> Published </th>
                    <td mat-cell *matCellDef="let article">
                        <mat-slide-toggle class="custom-slide-toggle" [checked]="article.published"></mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let article; let i = index">
                        <button mat-icon-button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggleMenu(i)">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                            [cdkConnectedOverlayOpen]="openMenuIndex === i" [cdkConnectedOverlayHasBackdrop]="true"
                            (backdropClick)="openMenuIndex = null">
                            <div class="overlay-panel">
                                <ul class="options-list">
                                    <li>
                                        <button (click)="openSidePaneEdit(article)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button (click)="openSidePaneView(article)">
                                            <mat-icon>visibility</mat-icon>
                                            <span>View</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>
                <tr mat-header-row
                    *matHeaderRowDef="['headline', 'author', 'publication_date', 'published', 'actions']"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['headline', 'author', 'publication_date', 'published', 'actions'];">
                </tr>
            </table>
            <mat-paginator [length]="articles.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"
                aria-label="Select page">
            </mat-paginator>
            <div cdkOverlayOrigin #sidePaneOrigin="cdkOverlayOrigin"></div>
        </div>

    </div>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="sidePaneOrigin"
        [cdkConnectedOverlayOpen]="isOpenSidePane" [cdkConnectedOverlayHasBackdrop]="true"
        (backdropClick)="closeSidePane()">

        <div class="side-pane">
            <div class="d-flex justify-content-end">
                <button mat-button (click)="closeSidePane()">
                    <mat-icon style="color: #90CAF9;">close</mat-icon>
                    <span style="color: #90CAF9;">CLOSE</span>
                </button>
            </div>
            <div *ngIf="mode==='view'" class="m-0 p-0">
                <div class="viewHeadline " *ngIf="selectedArticle">
                    <span>{{selectedArticle.headline}}</span>
                </div>
                <div>
                    <span>Author</span>
                    <span>{{selectedArticle.author}}</span>
                </div>
                <div>
                    <span>Body</span>
                    <p>{{selectedArticle.body}}</p>
                </div>
                <div>
                    <span>Publish Date</span>
                    <span>{{selectedArticle.publication_date}}</span>
                </div>
            </div>
            <div *ngIf="mode==='edit' || mode==='add'" class="m-0 p-0">
                <div class="article-action mb-3" *ngIf="mode==='edit'">
                    <span>Edit Article</span>
                </div>
                <div class="article-action mb-3" *ngIf="mode==='add'">
                    <span>New Article</span>
                </div>
                <form [formGroup]="articleForm">
                    <div class="d-flex flex-column mb-3">
                        <span class="form-label">Headline*</span>
                        <mat-form-field class="w-100">
                            <input matInput formControlName="headline">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <span class="form-label">Author*</span>
                        <mat-form-field class="w-100">
                            <input matInput formControlName="author">
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <span class="form-label">Body*</span>
                        <mat-form-field class="w-100">
                            <textarea matInput formControlName="body" style="height: 200px;"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <span class="form-label">Publish Date*</span>
                        <mat-form-field class="w-100">
                            <input matInput formControlName="publication_date">
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="mb-5">
                <span class="form-label">Publish*</span>
                <mat-slide-toggle *ngIf="mode==='edit' || mode==='view'" class="custom-slide-toggle"
                    [checked]="selectedArticle.published"></mat-slide-toggle>
                <mat-slide-toggle *ngIf="mode==='add'" class="custom-slide-toggle" [checked]="true"></mat-slide-toggle>
            </div>
            <div *ngIf="mode==='add'" class="d-flex justify-content-end">
                <button mat-button (click)="saveArticle()" class="save-button" [disabled]="articleForm.invalid">
                    <span>SAVE</span>
                </button>
            </div>
            <div *ngIf="mode==='edit'" class="d-flex justify-content-end">
                <button mat-button (click)="saveArticle()" class="save-button" [disabled]="articleForm.invalid">
                    <span>UPDATE</span>
                </button>
            </div>
        </div>
    </ng-template>
</div>