<div class="container-fluid p-0">
    <div class="header">
    </div>
    <div class="body">
        <span class="subtitle mb-4">Articles</span>
        <div class="d-flex justify-content-between">
            <mat-form-field class="white-bg-form-field" appearance="outline">
                <mat-label class="custom-text">All</mat-label>
                <mat-select>
                    <mat-option value="1" class="custom-text">Option 1</mat-option>
                    <mat-option value="2" class="custom-text">Option 2</mat-option>
                    <mat-option value="3" class="custom-text">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button class="custom-button">
                <mat-icon>add</mat-icon>
                <span class="custom-text">ADD ARTICLE</span>
            </button>
        </div>
        <div class="articles-container">
            <table mat-table [dataSource]="articles">
                <ng-container matColumnDef="headline">
                    <th mat-header-cell *matHeaderCellDef> Article Headline </th>
                    <td mat-cell *matCellDef="let article"> {{article.headline}} </td>
                </ng-container>
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef> Author </th>
                    <td mat-cell *matCellDef="let article"> {{article.author}} </td>
                </ng-container>
                <ng-container matColumnDef="publication_date">
                    <th mat-header-cell *matHeaderCellDef> Publish Date </th>
                    <td mat-cell *matCellDef="let article"> {{article.publication_date}} </td>
                </ng-container>
                <ng-container matColumnDef="published">
                    <th mat-header-cell *matHeaderCellDef> Published </th>
                    <td mat-cell *matCellDef="let article">
                        <mat-slide-toggle class="custom-slide-toggle" [checked]="article.published"></mat-slide-toggle>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let article">
                        <button mat-icon-button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="isOpen = !isOpen">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                            [cdkConnectedOverlayOpen]="isOpen">
                            <div class="overlay-panel">
                                <ul class="options-list">
                                    <li>
                                        <button>
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <mat-icon>visibility</mat-icon>
                                            <span>View</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button>
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </ng-template>
                    </td>
                </ng-container>
                <tr mat-header-row
                    *matHeaderRowDef="['headline', 'author', 'publication_date', 'published', 'actions']"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['headline', 'author', 'publication_date', 'published', 'actions'];">
                </tr>
            </table>
            <mat-paginator [length]="articles.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"
                aria-label="Select page">
            </mat-paginator>

        </div>

    </div>
</div>